<style>
  .layui-form-select{
    width: 190px;
  }
  .layui-form-label{
    width: 80px;
  }
</style>

<div class="layui-form" lay-filter="layuiadmin-form-dictionaryadmin" style="padding: 20px 0 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">字典标题</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="dicName" value="{{ d.params.dicName || '' }}" lay-verify="required" placeholder="请输入字典标题" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">字典值</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="dicValue" value="{{ d.params.dicValue || '' }}" lay-verify="required" placeholder="请输入字典值" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <textarea name="dicDesc" cols="22" rows="5" style="border-color: #D2D2D2!important;resize: none;padding: 5px 10px;">{{ d.params.dicDesc || '' }}</textarea>
      </script>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-dictionary-front-submit" value="确认" class="layui-btn">
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'form', 'upload'], function(){
  var $ = layui.$
  ,form = layui.form
  ,upload = layui.upload;
  

})
</script>